*{
  box-sizing: border-box;
}

body{
  padding: 10px;
  margin: auto;
  background-color: rgb(253, 221, 221);
}

header{
  background-color: rgb(252, 232, 235);
  padding: 30px;
  margin: auto;
}

h2{
  color: mintcream;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  margin-left: 40%;
}
#sec-one{
  display: block;
  width: 70%;
  background-color: lightpink;
  margin: 30px 0px 50px 180px ;
}
#sec-one img { 
  display: inline-block;
  margin: 22px;
  width: 300px;
  height: 300px; ;    
}
#sec-two{
  /* position: absolute;
  top: 2%;
  right: 5%; */
  background-color: rgb(182, 255, 251);
  font-size: 20px;
  float: right;
  margin-top: 30px;

}
div{

  display: inline-block;
  width: 50%;
  float: left;
 }
  